<div class="main-container blurry-image"></div>
<div>
    <div class="container3">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="media">
                    <% if @user.picture? %>
                        <%= image_tag @user.picture.url, class:"img-thumbnail rounded-circle" %>
                    <% else %>
                        <%= image_tag("E-logo.png", class:"img-thumbnail rounded-circle") %>
                    <% end %>
                </div>
                <div class="media-body">
                    <h1 class="pb-3"><%=@user.name %></h1>
                    <div class="relations">
                        <div class="row">
                            <div class="col"><h4 class="number py-4"><%=link_to @user.following.count, following_user_path, class:"text-decoration-none" %></h4><p class="pb-2">Following</p></div>
                            <div class="col"><h4 class="number py-4"><%=link_to @user.followers.count, followers_user_path, class:"text-decoration-none" %></h4><p class="pb-2">Followers</p></div>
                        </div>
                    </div>
                    <% if current_user == @user %>
                        <%= link_to "Edit Profile", edit_user_path, class:"btn2 btn-lg btn-block mx-2" %>
                        <%= link_to "Administration", admin_page_admin_static_page_path(@user), class:"btn2 btn-lg btn-block mx-2" %>
                    <% end %>
                    <% if current_user !=@user %>
                        <% unless current_user.relationship(@user) %>
                            <%= button_to "Follow", relationships_path,
                            params: { followed_id: @user.id},
                            method: :post,
                            class: "btn2 btn-lg btn-block mx-2 mt-2" %>
                        <% else %>
                            <%= button_to "Unfollow", 
                            relationship_path(current_user.relationship(@user)),
                            method: :delete,
                            class: "btn2 btn-lg btn-block mx-2 mt-2" %>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="activity col-lg-7 mx-auto mt-4">
                <h1 class="pt-3 font text-white">Activity</h1>
                <table class="ml-3">
                    <% @activities.each do |activity| %>
                        <tr>
                            <td>
                                <% if activity.user.picture? %>
                                    <%= image_tag activity.user.picture.url, class:"img-thumbnail2 rounded-circle" %>
                                <% else %>
                                    <%= image_tag("E-logo.png", class:"img-thumbnail2 rounded-circle") %>
                                <% end %>
                            </td>
                            <td class="text-left">
                                <% if activity.action_type == "Lesson" %>
                                    <% if activity.user == current_user %>
                                        <%= link_to "You", "#", class:"text-decoration-none" %>
                                    <% else %>
                                        <%= link_to activity.user.name, "#",class:"text-decoration-none" %>
                                    <% end %>

                                    <span class="mx-2">learned</span><span class="mx-2"><%= activity.action.result %></span><span mx-2>of</span>
                                    <span class="mx-2"><%= activity.action.category.words.count%></span><span mx-2>in</span><span class="mx-2">
                                    <%= link_to activity.action.category.title, lesson_path(activity.action), class:"text-decoration-none badge badge-pill badge-info"%></span>

                                <% elsif activity.action_type == "Relationship" %>
                                    <% if activity.user == current_user %>
                                        <%= link_to "You", user_path(current_user),class:"text-decoration-none" %>
                                    <% else %>
                                        <%= link_to activity.user.name, user_path(activity.user),class:"text-decoration-none" %>
                                    <% end %>

                                    <span class="mx-2">followed</span><%=link_to activity.action.followed.name, user_path(activity.action.followed), class:"text-decoration-none"%>

                                <% end %>
                            </td>
                            <td>
                                <%= time_ago_in_words(activity.created_at) %> ago
                            </td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>
