<div class="main-container blurry-image"></div>
<div class="mx-auto">
    <div class="transparent">
        <h1 class="text-white mb-3"><%= @category.title %></h1>
        <h5 class="text-white mb-4"><%= @lesson.words.count+1 %>/<%= @lesson.category.words.count %></h5>
        <h2 class="text-white mb-5"><%= @lesson.next_word.content %></h2>
        <% @lesson.next_word.choices.each do |choice| %>
            <%= form_for([:lesson, @answer]) do |f| %>
                <div>
                    <%= f.hidden_field :word_id, value: choice.word_id %>
                    <%= f.hidden_field :choice_id, value: choice.id%>
                    <%= f.submit choice.content, class:"btn btn3 my-3" %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>