<div class="main-container blurry-image"></div>
<div class="mx-auto">
    <div class="transparent">
    <h1 class="text-white"><%= @lesson.category.title%> </h1>
    <h3 class="text-white"><%=@lesson.correct_answer%>of<%=@lesson.category.words.count%></h3>
        <table class="mx-auto text-white">
            <thead>
                <tr>
                    <th class="table-element py-2">Words</th>
                    <th class="table-element py-2">Answers</th>
                    <th class="table-element py-2">Correct Answers</th>
                    <th class="table-element py-2"></th>
                </tr>
            </thead>
            <tbody>
                <% @lesson.answers.each do |answer| %>
                    <tr>
                        <td class="table-element py-2"><%=answer.word.content %></td>
                        <td class="table-element py-2"><%=answer.choice.content %></td>
                        <td class="table-element py-2"><%=answer.word.choices.find_by(is_correct: true).content %></td>
                        <td class="table-element py-2">
                            <% if answer.choice.is_correct? %>
                                <i class="far fa-smile-beam"></i>
                            <% else %>
                                <i class="far fa-dizzy"></i>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= link_to "Back", categories_index_path, class:"text-white",style:"text-decoration:none" %>
    </div>
</div>