<div class="main-container blurry-image"></div>
<div class="mx-auto">
    <div class="transparent">
        <h1 class="text-white my-4">Lessons</h1>
        <div class="row ml-5 pl-5">
            <% @categories.each do |category| %>
                <div class="border col-md-3 mx-4 py-3 my-2">
                    <h3 class="text-white"><%= category.title %></h3>
                    <h5 class="text-white"><%= category.description %></h5>
                     <%# if there is a lesson with the combination of a spacific category and a user, show result. else start lesson %>
                    <% if Lesson.where("category_id=? AND user_id=?", category, current_user).any? %>
                        <%= link_to "Show Result", lesson_path(Lesson.find_by(category:category)), class:"btn btn4" %>
                    <% else  %>
                        <%= link_to "Start Lesson",lessons_path(category_id: category.id) ,method: :post, class:"btn btn4"%>
                    <% end %>
                </div>
            <% end%>
        </div>
         <div class="paginate text-center border-top border-light pt-3">
            <%= will_paginate %>
        </div>
    </div>
</div>